.LandingPage {
  height: 1000px;
  background-image: url('../Resources/BG-shape.png');
  width: 100%;
}

.Landing-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 15px;
  margin-right: auto;
  margin-left: auto;
}

.Chart {
  position: relative;
  height: 250px;
  width: 400px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  top: 15%;
}

h2 {
  position: relative;
  top: 5%;
  color: white;
}

.start-button {
  margin-top: 2%;
  padding: 5px;
}

.movement-info {
  color: white;
}