.LandingPage {
  height: 1000px;
  background-image: url('../Resources/BG-shape.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: 5%;
}

.Landing-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 15px;
  position: absolute;
  left: 50%;
  margin-left: -21%;
}

.landing-info  {
  color: white;
  margin-left: 25px;
  text-align: left;
}

.landing-info h2 {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 35px;
}

.voting-image {
  max-height: 150px;
  max-width: 200px;
}

.Chart {
  position: relative;
  height: 250px;
  width: 400px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  top: 29%;
}

h2 {
  position: relative;
  top: 5%;
  color: white;
}

.movement-info {
  position: relative;
  top: 29%;
}

.movement-info > h2 {
  color: white;
  text-transform: uppercase;
  font-size: 1.7em;
}

.problem-solving {
  max-height: 300px;
  max-width: 350px;
}

button {
  background-color: #4B5BED;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: .95em;
  border-radius: 5px;
  border-style: none;
}

/* .Landing-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 15px;
  position: absolute;
  left: 50%;
  margin-left: -29%;
} */