.VotingInfo {
  position: block;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  border: 2px solid #FF8E8E;
  border-radius: 15px;
  width: 75%;
  height: 450px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  margin-bottom: 110px;
  padding: 15px;
}

.info-left h2 {
  font-size: 1.1em;
  padding-bottom: 15px;
  text-align: left;
}

.info-left h3 {
  font-size: .9em;
}

.info-right h3 {
  font-size: 1.1em;
}

.info-right h4 {
  font-size: .9em;
}

/* .VotingInfo {
  position: block;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  border: 2px solid #FF8E8E;
  border-radius: 15px;
  width: 75%;
  height: 450px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  margin-bottom: 110px;
  padding: 15px;
} */