.involved-container {
  border: 1px solid black;
  border-radius: 15px;
  height: 400px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 275px;
  padding: 15px 20px 10px 20px;
}

.involved-banner {
  background-image: url('../Resources/involved-banner.png');
  background-size: cover;
  background-position: center;
  height: 350px;
  margin-top: 6%;
  margin-bottom: 4%;
}